.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movies {
  font-size: 18px;
}

.operations {
  display: flex;
}

.op-block {
  border: 1px solid white;
  display: flex;
  padding: 0 20px;
  margin: 30px;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

span {
  font-size: 15px;
  margin: 10px 0;
}

input {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  border-radius: 5px;
  border: 0;
  padding: 2px 5px;
}

input[type="button"] {
  cursor: pointer;
  font-size: 15px;
  margin: 10px auto;
  width: 100px;
}
